/create_db/
/venv/
/.idea/.gitignore
/.idea/Cinema-Tickets.iml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/ticket.pdf
/.idea/vcs.xml
